body {
  background-color: rgb(0, 0, 0);
}
/* Start Of Navbar Overlay */
.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(13, 0, 59, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 50px;
  color: #9786c7;
  display: block;
  transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
  color: #ffffff;
  font-weight: bold;
  transition: 0.1s;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

/* end of navbar OverLay */

/* Start https://www.cursors-4u.com */
* {
  cursor: url("../cursor/normal-cream.cur"), default;
} 
.a,a, button, .button {
  cursor: url("../cursor/handwriting.cur"), default;
} /* End https://www.cursors-4u.com */
